/* line 25, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
body {
  width: 100%;
  font-family: "Lato", sans-serif; }

/* line 30, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
h1, h2 {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin: 0 auto; }

/* line 37, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
h1 {
  color: #08294d; }

/* line 42, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
h2 {
  color: #006298;
  font-size: 16px; }

/* line 46, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
button {
  -webkit-appearance: none; }

/* line 50, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
button:hover {
  cursor: pointer;
  transition: .3s; }

/* line 54, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
a {
  display: table;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  margin: 0 auto;
  border: 2px solid #08294d;
  color: #08294d;
  transition: .3s;
  padding: 10px 20px; }

/* line 69, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
a:hover {
  transition: .3s;
  background-color: #08294d;
  color: white;
  cursor: pointer; }

/* line 76, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
p {
  font-size: 16px;
  line-height: 30px;
  color: #08294d;
  margin: 15px auto;
  text-align: center; }

/* line 83, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
.header {
  width: 100%; }
  /* line 86, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  .header a {
    color: white;
    border: 2px solid white; }
  /* line 91, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  .header a:hover {
    transition: .3s;
    background-color: white;
    color: #08294d; }
  /* line 96, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  .header p {
    color: white;
    padding: 0px 150px; }
    @media (max-width: 700px) {
      /* line 96, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      .header p {
        padding: 0px 50px; } }
    @media (max-width: 450px) {
      /* line 96, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      .header p {
        font-size: 12px;
        line-height: 20px; } }
  /* line 109, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  .header h1 {
    color: white; }

/* line 114, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
.content {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0px; }
  /* line 119, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  .content p {
    width: 80%; }
    @media (max-width: 650px) {
      /* line 119, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      .content p {
        width: 100%; } }

/* line 127, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
.container {
  width: 950px;
  margin: 0 auto;
  position: relative; }
  @media (max-width: 1100px) {
    /* line 127, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .container {
      width: 900px; } }
  @media (max-width: 950px) {
    /* line 127, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .container {
      width: 800px; } }
  @media (max-width: 850px) {
    /* line 127, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .container {
      width: 690px; } }
  @media (max-width: 700px) {
    /* line 127, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .container {
      width: 600px; } }
  @media (max-width: 650px) {
    /* line 127, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .container {
      width: 500px; } }
  @media (max-width: 550px) {
    /* line 127, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .container {
      width: 400px; } }
  @media (max-width: 450px) {
    /* line 127, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .container {
      width: 300px; } }

/* line 158, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
.sliderbg {
  display: table;
  height: 400px;
  width: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat; }
  @media (max-width: 950px) {
    /* line 158, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .sliderbg {
      background-size: 110%; } }
  @media (max-width: 850px) {
    /* line 158, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .sliderbg {
      background-size: 140%; } }
  @media (max-width: 700px) {
    /* line 158, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .sliderbg {
      background-size: 180%; } }
  @media (max-width: 550px) {
    /* line 158, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .sliderbg {
      background-size: 220%; } }
  @media (max-width: 500px) {
    /* line 158, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .sliderbg {
      background-size: 300%; } }

/* line 183, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
.slider_content {
  display: table-cell;
  vertical-align: middle; }

/* line 196, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
#desktop {
  display: block;
  width: 100%;
  padding: 25px 0px 0px 0px; }
  @media (max-width: 700px) {
    /* line 196, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    #desktop {
      display: none; } }
  /* line 204, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  #desktop img {
    width: 50px;
    padding-bottom: 5px;
    margin: 0 auto;
    display: block; }
  /* line 211, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  #desktop ul {
    list-style: none;
    display: table;
    margin: 20px auto;
    padding-inline-start: 0px; }
  /* line 219, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  #desktop li {
    float: left; }
  /* line 223, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  #desktop a {
    text-transform: none;
    font-weight: 400;
    border: 2px solid white;
    padding: 10px 14.5px; }
    @media (max-width: 1100px) {
      /* line 223, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      #desktop a {
        padding: 10px 12px; } }
    @media (max-width: 950px) {
      /* line 223, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      #desktop a {
        padding: 10px 5px; } }
    @media (max-width: 850px) {
      /* line 223, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      #desktop a {
        font-size: 12px; } }
  /* line 239, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  #desktop a:hover {
    transition: .3s;
    background-color: transparent;
    border-bottom: 2px solid #ffc700;
    color: #08294d; }

/* line 248, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
#mobile {
  display: none;
  width: 100%;
  transition: .3s;
  position: relative;
  padding: 15px 0px; }
  @media (max-width: 700px) {
    /* line 248, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    #mobile {
      display: table;
      position: absolute;
      z-index: 5;
      background-color: white;
      left: 0; } }
  /* line 262, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  #mobile h1 {
    display: table-cell;
    font-size: 20px;
    vertical-align: middle;
    text-align: left;
    padding-top: 3px; }
    @media (max-width: 550px) {
      /* line 262, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      #mobile h1 {
        font-size: 16px; } }
  /* line 273, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  #mobile img {
    width: 50px;
    float: left; }
    @media (max-width: 550px) {
      /* line 273, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      #mobile img {
        width: 40px; } }
    @media (max-width: 450px) {
      /* line 273, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      #mobile img {
        display: none; } }
  /* line 284, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  #mobile .menu-navigation-container {
    opacity: 0;
    top: -100%;
    z-index: -5;
    transition: .5s;
    background-color: white;
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: #ffc700 2px solid;
    border-top: #ffc700 2px solid; }
  /* line 298, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  #mobile #burger {
    border: none;
    position: absolute;
    right: 0;
    top: 25px; }
    @media (max-width: 550px) {
      /* line 298, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      #mobile #burger {
        top: 20px; } }
  /* line 308, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  #mobile #burger span {
    background-color: #08294d;
    width: 30px;
    height: 3px;
    display: block;
    transition: .3s;
    margin-bottom: 5px; }
  /* line 317, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  #mobile #burger:hover > span {
    background-color: #ffc700; }
  /* line 321, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  #mobile ul {
    list-style: none;
    padding-inline-start: 0px; }
    /* line 325, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    #mobile ul a {
      border: none;
      width: 100%;
      padding: 10px 0px; }

/* line 337, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
footer {
  width: 100%;
  padding: 30px 0px;
  color: #08294d;
  background-size: 1400px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: -180px;
  background-color: #cccccc; }
  /* line 347, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  footer img {
    width: 40px;
    padding-bottom: 5px;
    margin: 0 auto;
    display: block; }
  /* line 353, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  footer #footersections {
    margin: 0 auto;
    display: table; }
  /* line 357, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  footer .footersection {
    width: 350px;
    float: left; }
    @media (max-width: 1100px) {
      /* line 357, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      footer .footersection {
        width: 300px; } }
    @media (max-width: 900px) {
      /* line 357, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      footer .footersection {
        width: 260px; } }
    @media (max-width: 800px) {
      /* line 357, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      footer .footersection {
        width: 200px; } }
    @media (max-width: 650px) {
      /* line 357, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      footer .footersection {
        float: none;
        margin-top: 40px; } }
  /* line 376, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  footer .footersection:first-of-type, footer .footersection:nth-of-type(3) {
    margin-top: 40px; }
  /* line 380, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  footer a {
    margin-top: 10px;
    font-size: 10px;
    padding: 10px 15px; }
  /* line 386, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  footer p a {
    display: inline;
    border: none;
    padding: 0px;
    font-weight: 400;
    text-transform: none; }
  /* line 394, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  footer h1 {
    font-weight: 400;
    font-size: 16px;
    color: #08294d; }
  /* line 400, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  footer .icon {
    border-radius: 100px;
    float: left;
    color: white;
    border: none;
    background-color: #08294d;
    margin: 10px 5px;
    padding: 10px;
    font-size: 18px; }
  /* line 412, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  footer .icon:hover {
    transition: .3s;
    color: #08294d;
    background-color: white; }
  /* line 418, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  footer #socialmedia {
    display: table;
    margin: 0 auto; }
  /* line 423, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  footer p {
    line-height: 16px;
    width: auto;
    font-size: 13px;
    letter-spacing: .4px;
    font-weight: 400; }

/* line 436, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
.board {
  padding: 40px 0px 0px 0px;
  display: table;
  margin: 0 auto; }
  @media (max-width: 1000px) {
    /* line 436, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .board {
      width: 650px;
      padding-top: 20px; } }
  @media (max-width: 850px) {
    /* line 436, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .board {
      width: 650px; } }
  @media (max-width: 700px) {
    /* line 436, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .board {
      width: 400px;
      padding-top: 0px;
      margin: 0 auto; } }
  @media (max-width: 450px) {
    /* line 436, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .board {
      width: 300px; } }
  /* line 456, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  .board span {
    display: block; }
  /* line 460, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  .board .boardimages_wrapper {
    float: left;
    width: 50%;
    display: block; }
    @media (max-width: 1000px) {
      /* line 460, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      .board .boardimages_wrapper {
        float: none;
        width: 100%; } }
    @media (max-width: 550px) {
      /* line 460, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      .board .boardimages_wrapper {
        width: 400px; } }
    @media (max-width: 450px) {
      /* line 460, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      .board .boardimages_wrapper {
        width: 300px; } }
    /* line 476, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .board .boardimages_wrapper .boardimages {
      margin: 0 auto;
      display: table; }
  /* line 483, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  .board .boardcontent {
    float: right;
    width: 49%;
    padding-left: 1%;
    margin-top: 10px; }
    @media (max-width: 1000px) {
      /* line 483, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      .board .boardcontent {
        width: 100%;
        margin: 0 auto;
        float: none; } }
    /* line 495, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .board .boardcontent h1 {
      text-align: left;
      display: block;
      color: #006298;
      font-size: 16px; }
      @media (max-width: 1000px) {
        /* line 495, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
        .board .boardcontent h1 {
          display: none; } }
    /* line 505, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .board .boardcontent p {
      text-align: left;
      width: 100%; }
      @media (max-width: 1000px) {
        /* line 505, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
        .board .boardcontent p {
          text-align: center; } }
    /* line 513, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .board .boardcontent a {
      margin-top: 20px;
      display: inline-block; }
  /* line 520, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  .board .mobileboard {
    display: none; }
    @media (max-width: 1000px) {
      /* line 520, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      .board .mobileboard {
        text-align: center;
        font-weight: 700;
        color: #006298;
        display: block;
        padding: 20px; } }
  /* line 532, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  .board .boardmember {
    width: 140px;
    height: 140px;
    float: left;
    position: relative;
    margin: 5px;
    background-position: center;
    background-size: 100%; }
    @media (max-width: 1000px) {
      /* line 532, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      .board .boardmember {
        width: 120px;
        height: 120px; } }
    @media (max-width: 450px) {
      /* line 532, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      .board .boardmember {
        width: 140px;
        height: 140px; } }
  /* line 551, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  .board .boardtext {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
    box-sizing: border-box; }
    /* line 558, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .board .boardtext .boardname {
      font-size: 14px;
      text-align: center;
      padding-top: 5px;
      font-weight: 300; }
      @media (max-width: 1000px) {
        /* line 558, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
        .board .boardtext .boardname {
          font-size: 12px; } }
    /* line 567, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .board .boardtext .boardtitle p {
      font-size: 12px;
      margin: 0px;
      font-weight: 700;
      color: white;
      text-align: center;
      width: 100%; }

/* line 581, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
.page .header {
  height: 350px;
  display: table;
  width: 100%;
  background-size: cover;
  background-position: center; }
  /* line 588, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  .page .header span {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 50px; }
    @media (max-width: 700px) {
      /* line 588, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      .page .header span {
        padding: 20px 50px; } }
    @media (max-width: 400px) {
      /* line 588, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      .page .header span {
        padding: 20px 20px; } }
  /* line 600, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  .page .header img {
    width: 50px;
    display: table;
    margin: 0 auto; }
  /* line 605, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  .page .header p {
    padding: 0px;
    font-size: 14px; }
    @media (max-width: 450px) {
      /* line 605, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      .page .header p {
        font-size: 16px;
        line-height: 25px; } }
    /* line 614, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .page .header p strong {
      font-size: 18px; }

/* line 621, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
.page .field_wrapper {
  width: 100%; }
  /* line 624, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  .page .field_wrapper .field {
    width: 50%;
    float: left;
    margin-bottom: 10px;
    display: table; }
    @media (max-width: 700px) {
      /* line 624, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      .page .field_wrapper .field {
        width: auto;
        margin: 0 auto;
        float: none;
        padding-bottom: 10px; } }
    @media (max-width: 550px) {
      /* line 624, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      .page .field_wrapper .field {
        width: 100%; } }
    /* line 639, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .page .field_wrapper .field img {
      float: left;
      width: 120px; }
      @media (max-width: 850px) {
        /* line 639, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
        .page .field_wrapper .field img {
          width: 100px; } }
      @media (max-width: 450px) {
        /* line 639, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
        .page .field_wrapper .field img {
          width: 80px; } }
    /* line 650, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .page .field_wrapper .field .field_content {
      float: left;
      width: 65%;
      padding-left: 5%; }
      @media (max-width: 850px) {
        /* line 650, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
        .page .field_wrapper .field .field_content {
          width: 60%; } }
      @media (max-width: 700px) {
        /* line 650, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
        .page .field_wrapper .field .field_content {
          width: 300px;
          padding-left: 10px; } }
      @media (max-width: 550px) {
        /* line 650, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
        .page .field_wrapper .field .field_content {
          width: 280px; } }
      @media (max-width: 450px) {
        /* line 650, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
        .page .field_wrapper .field .field_content {
          width: 200px; } }
    /* line 671, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .page .field_wrapper .field h3 {
      margin: 10px 0px;
      color: #08294d; }
      @media (max-width: 450px) {
        /* line 671, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
        .page .field_wrapper .field h3 {
          font-size: 16px;
          margin: 5px 0px; } }
    /* line 681, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    .page .field_wrapper .field p {
      font-size: 14px;
      line-height: 25px;
      text-align: left;
      width: 100%;
      margin: 0; }
      /* line 689, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      .page .field_wrapper .field p a {
        display: inline;
        padding: 0;
        border: none;
        text-transform: none;
        letter-spacing: 0px;
        color: #006298;
        text-decoration: underline; }
      /* line 699, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
      .page .field_wrapper .field p a:hover {
        background-color: transparent;
        transition: .3s;
        color: #ffc700; }

/* line 712, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
#sponsorship {
  margin-top: 30px; }
  /* line 714, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  #sponsorship table {
    text-align: left;
    margin: 30px auto;
    font-size: 14px;
    border-collapse: collapse; }
    /* line 720, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    #sponsorship table tr {
      border-bottom: 2px solid #08294d; }
    /* line 723, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    #sponsorship table td {
      padding: 10px 50px 0px 0px;
      line-height: 30px; }
    /* line 728, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    #sponsorship table a {
      display: table-cell;
      border: none;
      padding: 0px;
      text-decoration: underline;
      color: #ffc700; }
    /* line 736, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
    #sponsorship table a:hover {
      transition: .3s;
      color: red;
      background-color: transparent; }

/* line 745, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
.dragon_of_week {
  border-top: 2px solid #006298;
  border-bottom: 2px solid #006298;
  margin: 40px 0px;
  width: 100%; }
  /* line 751, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  .dragon_of_week #dow_wrapper {
    margin: 0 auto;
    width: 90%; }
  /* line 756, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  .dragon_of_week p {
    text-align: left;
    float: left; }
  /* line 761, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  .dragon_of_week img {
    float: left;
    width: 150px;
    margin-top: 35px;
    margin-right: 20px; }

/* line 769, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
.letter {
  margin: 50px 0px; }
  /* line 772, /Users/rwener/Desktop/clients/personal/chabad/sass/theme.scss */
  .letter p {
    text-align: left;
    width: 90%; }

/*# sourceMappingURL=theme.css.map */

.post p {
    width:90%;
    margin:0 auto;
}